{% extends 'base.html' %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>A few fun facts about me</h1>
    <ul>
        <li>I like writing scripts and creating databases for analysis on the data on my life. <strong>For fun</strong>
        </li>
        <li>I play rec hockey way too late at night</li>
        <li>Personal pizzas make America great</li>
        <li>The JetBrains development tools suite is my absolute favorite</li>
        <li>My dog doesn't understand personal space</li>
        <li>I'm not quite an Apple fanboy but Macbook pros are my laptop of choice</li>
        <li>I firmly believe Pacific Salmon is better than Atlantic Salmon</li>
        <li>Stranger Things was the last show I binged on</li>
        <li>I built a <a href="http://www.dogpackdesign.com/">website</a> that is a graphic overlay on top of Marketo's
            REST APIs. I also hope to include documentation and examples for developers just starting to use APIs
        </li>
    </ul>

    <h1>This site</h1>
    <p> is powered by Flask on a Google App Engine with Bootstrap and AwesomeFont icons</p>
{% endblock %}