{% extends 'base.html' %}
{% set active_page = "resume" %}

{% block title %}Resume{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>TECHNOLOGIES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>PROFESSIONAL</h4>
            <ul>
                <li>Java</li>
                <li>SQL (MySQL PostgreSQL)</li>
                <li>Python 2.7/3.5</li>
                <li>Version Control (GIT)</li>
                <li>Object Oriented Design</li>
                <li>Restful API Design</li>
                <li>ETL</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>EXPERIENCE</h4>
            <ul>
                <li>C# (limited)</li>
                <li>C++ (limited)</li>
                <li>Scala (limited)</li>
                <li>AWS (EC2, RDS, S3, EB)</li>
                <li>Google App Engine</li>
                <li>Django</li>
                <li>Flask</li>
                <li>Node.js (limited)</li>
                <li>jQuery</li>
                <li>HTML/CSS/JS</li>
                <li>Bootstrap</li>
                <li>Docker (limited)</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>WORK EXPERIENCE</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>Backend Engineer, Porch</h4>
            <span class="text-muted">June 2015 - PRESENT</span>
            <p>
                <strong>Description: </strong> As a backend engineer at Porch, my primary role is to create and maintain
                back end components such as RESTful API services. I work with multiple teams including business
                analysts, data engineers and front end developers to design processes for data ingestion and processing.
            </p>
            <p>
                <strong>Accomplishments: </strong> I was heavily involved in designing the architecture behind a core
                eco system which manages the relations between critical data structures. This was primarily optimized
                using a relational tree structure.
            </p>
        </div>
        <div class="col-md-8 offset-md-4">
            <h4>Data Analyst, Trulia (formerly Market Leader)</h4>
            <span class="text-muted">May 2014 - June 2015</span>
            <p>
                <strong>Description: </strong> Part of my role as data analyst for Trulia was to perform analysis on
                marketing data to help assist the Sales/Marketing teams in optimizing their campaigns. Using Python, I
                integrated third party APIs such as Marketo and Pardot into Trulia's internal system with the purpose of
                automatically triggering actions through the API if there were other criteria met.
            </p>
            <p>
                <strong>Accomplishments: </strong> I set up the daily routines through CRON jobs and Python scripts to
                automatically trigger import/export. I also design and managed specific databases for the marketing
                teams to use to perform their own analysis. I assisted in writing the SQL queries to help determine the
                overlap in Trulia and Market Leader's customer base.
            </p>
        </div>
        <div class="col-md-8 offset-md-4">
            <h4>QA Engineer(I), Market Leader</h4>
            <span class="text-muted">January 2011 - May 2014</span>
            <p>
                <strong>Description: </strong> I helped coordinate between the customer service representatives and our
                software developers to report and track bugs that were found by our customers. I would perform the
                initial analysis by stepping through HTML and JS code to recreate the issue. I was responsible for
                proposing changes if it was a code error and running bash scripts if it was a data error.
            </p>
            <p>
                <strong>Accomplishments: </strong> Helped to implement the first dev day and bug bash at Market Leader
                to help tackle the backlog
            </p>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>EDUCATION</h2>
        </div>
    </div>

    <div class="col-md-8 offset-md-4">
        <h4>University of Washington, Graduate Certificate in Software Design and Development</h4>
        <span class="text-muted">September 2012 - June 2013</span>
        <p>
            The Graduate Certificate in Software Design & Development built upon my knowledge from introductory
            programming classes in computer science. The curriculum covered essential concept areas within computer
            science including: data structures and algorithms, systems programming, and software engineering life cycle
            and modeling.
        </p>
        <p>
            The software engineering series provided foundational knowledge in the software development processes,
            methods, and practices. Topics included software development lifecycle, requirements engineering, modeling,
            software testing, and quality assurance.
        </p>
    </div>
    <div class="col-md-8 offset-md-4">
        <h4>Bellevue College, Continuing Education</h4>
        <span class="text-muted">September 2012 - June 2013</span>
        <ul>
            <li> Fundamentals of CS I – Established basic knowledge of Java programming syntax.</li>
            <li> Fundamentals of CS II – Expanded and applied programming knowledge to gain solid understanding of
                Object
                Oriented Design.
            </li>
        </ul>
    </div>
    <div class="col-md-8 offset-md-4" style="padding-bottom: 50px">
        <h4>University of Washington, BA in International Studies</h4>
        <span class="text-muted">September 2006 - June 2010</span>
    </div>
    <form action="{{ url_for('download_resume') }} " method="post" target="_blank">
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Download Resume</button>
    </form>
{% endblock %}