{% extends 'base.html' %}
{% set active_page = "resume" %}

{% block title %}Resume{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>TECHNOLOGIES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>PROFESSIONAL</h4>
            <ul>
                <li>Java</li>
                <li>SQL (MySQL PostgreSQL)</li>
                <li>Python 2.7/3.5</li>
                <li>Version Control (GIT)</li>
                <li>Object Oriented Design</li>
                <li>Restful API Design</li>
                <li>ETL</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>EXPERIENCE</h4>
            <ul>
                <li>C# (limited)</li>
                <li>Scala (limited)</li>
                <li>AWS (EC2, RDS, S3, EB)</li>
                <li>Google App Engine</li>
                <li>Django</li>
                <li>Flask</li>
                <li>Node.js (limited)</li>
                <li>jQuery</li>
                <li>HTML/CSS/JS</li>
                <li>Bootstrap</li>
                <li>Docker (limited)</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>WORK EXPERIENCE</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-4">
            <h4>PROFESSIONAL</h4>
            <ul>
                <li>Java</li>
                <li>SQL (MySQL PostgreSQL)</li>
                <li>Python 2.7/3.5</li>
                <li>Version Control (GIT)</li>
                <li>Object Oriented Design</li>
                <li>Restful API Design</li>
                <li>ETL</li>
            </ul>
        </div>

        <div class="col-md-8 offset-md-4">
            <h4>PROFESSIONAL</h4>
            <ul>
                <li>Java</li>
                <li>SQL (MySQL PostgreSQL)</li>
                <li>Python 2.7/3.5</li>
                <li>Version Control (GIT)</li>
                <li>Object Oriented Design</li>
                <li>Restful API Design</li>
                <li>ETL</li>
            </ul>
        </div>
    </div>
{% endblock %}