<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Eric Proulx{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Eric Proulx">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.ico') }}>

    {% block css %}
        <!-- This file stores project-specific CSS -->
        <link href={{ url_for('static', filename='css/base.css') }} rel="stylesheet">

        <!-- Third-party CSS libraries go here -->
        <script src="https://use.typekit.net/fwh3spk.js"></script>
        <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>

        <!-- Extra CSS -->
        {% block extraCSS %}
        {% endblock %}
    {% endblock %}
</head>
<body>
<div id="body-container">
    <div id="header">
        <div id="navigation">
            <ul class="nav-collapse" id="nav-collapse">
                <li><a href="{{ url_for('get_home') }}">HOME</a></li>
                <li><a href="{{ url_for('get_resume') }}">RESUME</a></li>
                <li><a href="{{ url_for('get_contact') }}">CONTACT</a></li>
                <li class="icon"><a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a></li>
            </ul>
        </div>
        <div id="brand">
            <h1>Eric M Proulx</h1>
        </div>
    </div>
    <div id="main">
        {% block content %}
        {% endblock content %}
    </div>
</div>
<div id="footer">
    <div id="links">
        <ul>
            <li><a href="https://github.com/proulx712" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/proulxeric" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="mailto:eric@ericproulx.com?Subject=Your%20Website%20Looks%20Great!" target="_top"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div id="disclaimer">
        <span class="text-muted">
            &copy; 2016 Eric Proulx. All rights reserved
        </span>
    </div>
</div>

{% block javascript %}
    <!-- Third-party javascript libraries go here -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f59bd3569d.js"></script>
    <!-- project specific Javascript -->
    <script src={{ url_for('static', filename='js/base.js') }}></script>
    {% block extrajs %}
    {% endblock %}
{% endblock javascript %}
</body>
</html>