<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Eric Proulx{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The wonderful portfolio site of Eric Proulx">
    <meta name="author" content="Eric Proulx">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.ico') }}>
    <!-- This file stores base CSS -->
    <link href={{ url_for('static', filename='css/base.css') }} rel="stylesheet">

    <!-- Third-party CSS libraries go here -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>

<div id="website">
    <div id="header">
        <h1>hi I'm Eric. Nice to meet you!</h1>
        <p>I'm a software developer based in Seattle, WA</p>
    </div>
    <div id="content">
        <div class="content-block">
            <div id="skills">
                <div class="main-header">[skills]</div>
                <div id="sub-skill-headers">
                    <div class="header-image">
                        <div class="icon">
                            <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                        </div>
                        <span class="custom-header">LANGUAGES</span>
                    </div>
                    <div class="header-image">
                        <div class="icon">
                            <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                        </div>
                        <span class="custom-header">PLATFORMS</span>
                    </div>
                    <div class="header-image">
                        <div class="icon">
                            <i class="fa fa-laptop fa-3x" aria-hidden="true"></i>
                        </div>
                        <span class="custom-header">TECHNOLOGIES</span>
                    </div>
                </div>
                <div class="sub-skill">
                    <li>Java</li>
                    <li>Scala</li>
                    <li>Python 2.7</li>
                    <li>SQL (PostgreSQL, MySQL)</li>
                </div>
                <div class="sub-skill">
                    <li>Google Cloud Platform</li>
                    <li>Amazon Web Services</li>
                </div>
                <div class="sub-skill">
                    <li>Apple (MacBook Pro)</li>
                    <li>IntelliJ</li>
                    <li>Sketch</li>
                    <li>Atom</li>
                    <li>Docker</li>
                    <li>Dropwizard</li>
                    <li>Postman</li>
                    <li>VirtualBox</li>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div id="work">
                <span class="main-header">[work experience]</span>
            </div>
        </div>
        <div class="content-block">
            <div id="education">
                <span class="main-header">[education]</span>
            </div>
        </div>

    </div>
    <div id="footer">
        <p>©2017 Eric Proulx - all rights reserved</p>
    </div>
</div>
<!-- Third-party javascript libraries go here -->
<script src="https://use.fontawesome.com/f59bd3569d.js"></script>
<!-- project specific Javascript -->
<script src={{ url_for('static', filename='js/base.js') }}></script>
</body>
</html>