<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eric's Homepage</title>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>


    <script type="text/jsx">

      /*** @jsx React.DOM */

      var realPython = React.createClass({
        render: function() {
          return (<h2>Greetings, from Real Python!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
{#    <script type="text/jsx" src={{ url_for('static', filename='js/base.jsx') }}></script>#}

    <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.ico') }}>
</head>

<body>
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="content"></div>
    </div>
  </body>
{#<body>#}
{#<div id="root">#}
{#  <!-- This div's content will be managed by React. -->#}
{#</div>#}
{#</body>#}

<script type="text/jsx">
    ReactDOM.render(
    <h1>Hello, world!</h1>,
    document.getElementById('root')
);
</script>
</html>